.projects-section {
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects-section__title {
  color: #687d90;
  text-align: center;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  font-family: 'Open Sans Condensed';
}

.projects-section__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: auto;
  margin: 10px;
}

.projects-section__buttons {
  width: 20%;
  padding: 15px;
  height: 70px;
  margin: 5px;
  border-radius: 30px;
  border: solid 1px #ccc;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

.projects-section__buttons:hover {
  background-color: #bbb;
}

.projects-section__buttons-row:nth-child(1)
  .projects-section__buttons:nth-child(1) {
  color: #1174ba;
  border-color: #1174ba;
}

.projects-section__buttons-row:nth-child(1)
  .projects-section__buttons:nth-child(2) {
  color: #e22726;
  border-color: #e22726;
}

.projects-section__buttons-row:nth-child(1)
  .projects-section__buttons:nth-child(3) {
  color: #01b4e7;
  border-color: #01b4e7;
}

.projects-section__buttons-row:nth-child(1)
  .projects-section__buttons:nth-child(4) {
  color: #8e288f;
  border-color: #8e288f;
}

.projects-section__buttons-row:nth-child(2)
  .projects-section__buttons:nth-child(1) {
  color: #f47621;
  border-color: #f47621;
}
.projects-section__buttons-row:nth-child(2)
  .projects-section__buttons:nth-child(2) {
  color: #00acbb;
  border-color: #00acbb;
}
.projects-section__buttons-row:nth-child(2)
  .projects-section__buttons:nth-child(3) {
  color: #00964d;
  border-color: #00964d;
}

.projects-section__buttons-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.projects-section__cards {
  width: 300px;
  height: 300px;
  background-color: #d91b5c;
  border-radius: 30px;
  padding: 0;
}

/* aaa */

.carousel-container {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  overflow: hidden;
}

.projects-section__cards-container {
  position: relative;
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.projects-section__cards {
  flex: 0 0 calc(100% / 3);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  aspect-ratio: 1/1;
  perspective: 100px;
}

.projects-section__cards {
  flex: 0 0 calc(100% / 3);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  aspect-ratio: 1/1;
  perspective: 100px;

  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.rotateY {
  transform: rotateY(180deg);
}

.close-info {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 30px 0 30px;
  background-color: #d91b5c;
  color: #fff;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
}

.close-info:hover {
  background-color: #fb3d7e;
}

/* back card */
.projects-section__info-reverse {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #000000bb;
  color: #ffffff;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 35px;
}

/* Card front */
.projects-section__image-front {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: inherit;
  position: absolute;
  cursor: pointer;
}

.projects-section__image-front::after {
  width: 100%;
  height: 100%;
  background-color: #000000bb;
  pointer-events: none;

  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  display: grid;
  place-items: center;
}

.projects-section__image-front:hover::after {
  content: 'CLICK PARA MÁS INFORMACIÓN';
}

.projects-section__img {
  position: absolute;
  object-fit: cover;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  backface-visibility: hidden;
}

.imageSelected {
  background-color: #fb3d7e;
  border: solid 5px #ccc;
}

.gray-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
}

#prevBtn,
#nextBtn {
  cursor: pointer;
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  border: none;
  background-color: #d91b5c;
  border: solid 2px #ffffff;
  color: #ffffff;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #fb3d7e;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
